.products__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 420px);
    gap: 20px;

    grid-template-areas: 'vrl a m'
        'vrl vrp vrp';

    padding: 0;

    list-style-type: none;
}

.products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 25px;
    color: var(--font-color2);

    .item__btn {
        align-self: flex-end;
    }
}

.products__vrlight {
    grid-area: vrl;
    background: radial-gradient(92.63% 79.19% at 11.85% 31.04%, #B462F4 0%, rgba(255, 255, 255, 0) 100%),
        url("img/product-1.png") center / cover no-repeat;
    color: var(--font-color1);
}

.products__vrpro {
    grid-area: vrp;
    background: radial-gradient(100% 623.79% at 0% 4.85%, #16FFFF 0%, rgba(0, 0, 0, 0) 100%),
        url("img/product-2.png") center / cover no-repeat;

    flex-wrap: wrap;

    .item__title,
    .item__text {
        margin-bottom: 0;
        width: 70%;
    }

    .item__btn {
        margin-top: auto;
    }
}

.products__accessories {
    grid-area: a;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("img/product-3.png") center / cover no-repeat;
}

.products__market {
    grid-area: m;
    background: radial-gradient(98.18% 144.48% at 100% 98.18%, #FF450B 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(61.04% 79.24% at 2.5% 5.83%, #FF450B 0%, rgba(255, 11, 11, 0) 100%),
        url("img/product-4.png") center / cover no-repeat;
}

@media screen and (max-width: 764px) {
    .products__content {
        display: flex;
        flex-direction: column;
    }

    .products__item {
        padding: 10px;
    }
}