.opportunities {

    .switchers {
        display: none;

        &:has(#fitness:checked)~.opportunities__slides .opportunities__slide:nth-of-type(1) {
            .title {
                background-color: black;
                color: white;
            }

            .content {
                opacity: 1;
            }
        }

        &:has(#work:checked)~.opportunities__slides .opportunities__slide:nth-of-type(2) {
            .title {
                background-color: black;
                color: white;
            }

            .content {
                opacity: 1;
            }
        }

        &:has(#entertainment:checked)~.opportunities__slides .opportunities__slide:nth-of-type(3) {
            .title {
                background-color: black;
                color: white;
            }

            .content {
                opacity: 1;
            }
        }

        &:has(#education:checked)~.opportunities__slides .opportunities__slide:nth-of-type(4) {

            .title {
                background-color: black;
                color: white;
            }

            .content {
                opacity: 1;
            }
        }
    }
}

.opportunities__title {
    width: 24cqw;
    hyphens: auto;

    &::after {
        content: "";
        
        display: block;
        
        width: 100cqw;
        height: 3px;
        margin-block: 30px;
        
        background-color: gray;
        opacity: .25;
        border-radius: 50px;
    }
}


.opportunities__slides {
    width: 100%;
    height: 700px;

    position: relative;
}

.opportunities__slide {
    width: 70%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 30%;

    &:nth-last-of-type(4)>.title {
        top: 0;
    }

    &:nth-last-of-type(3)>.title {
        top: 25%;
    }

    &:nth-last-of-type(2)>.title {
        top: 50%;
    }

    &:nth-last-of-type(1)>.title {
        top: 75%;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 42.86%;
        height: 25%;

        background-color: white;
        color: black;

        position: absolute;
        left: -42.86%;

        pointer-events: auto;

        transition: color .2s ease, background-color .2s ease, font-size .3s ease-in-out;

        &:active {
            font-size: 3cqw;
        }
    }

    .content {
        width: 100%;
        height: 100%;

        /* скрываем по умолчанию */
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;

        transition: opacity .4s ease-in-out;

        .opportunities__text {
            width: 50%;

            position: absolute;
            right: 0;
            bottom: 0;
        }

        .opportunities__image {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
}

@media screen and (max-width: 768px) {
    .opportunities__slides {
        height: 300px;
    }

    .opportunities__slide {
        width: 100%;

        top: 85.88px;
        left: 0;

        &:nth-last-of-type(4)>.title {
            width: 50%;
            height: auto;
            padding-block: 15px;
            top: -85.88px;
            left: 0;
        }
        
        &:nth-last-of-type(3)>.title {
            width: 50%;
            height: auto;
            padding-block: 15px;
            top: -85.88px;
            left: 50%;
        }
        
        &:nth-last-of-type(2)>.title {
            width: 50%;
            height: auto;
            padding-block: 15px;
            top: -42.94px;
            left: 0;
        }
        
        &:nth-last-of-type(1)>.title {
            width: 50%;
            height: auto;
            padding-block: 15px;
            top: -42.94px;
            left: 50%;
        }

        .title {
        }

        .content {

            .opportunities__text {
                width: 100%;
                padding: 15px;
            }

            .opportunities__image {
            }
        }
    }
}