.footer {
    background-color: var(--font-color1);
    color: var(--font-color2);

    h3 {
        font-size: 2rem;
    }

    p,
    a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--font-color2);
        font-weight: 900;
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(305px, max-content));
    grid-template-areas: 'fquest fdev fshop fhelp fhelp'
        'fsoc fsoc fsoc fhelp fhelp';
    gap: 20px;
}

.footer__quest,
.footer__dev,
.footer__shop {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__quest {
    grid-area: fquest;
}

.footer__dev {
    grid-area: fdev;
}

.footer__shop {
    grid-area: fshop;
}

.footer__social {
    grid-area: fsoc;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 23px;

    border-bottom: 1px solid var(--font-color2);

    svg {
        font-size: 70px;
        margin-left: 50px;
    }
}

.footer__help {
    grid-area: fhelp;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;

    h3,
    p {
        width: 460px;
    }

    p {
        font-weight: 300;
    }

    a {
        padding: 27px 146px;
        background-color: var(--font-color2);
        color: var(--font-color1);
    }
}

@media screen and (max-width: 1440px) {
    .footer__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(4, max-content);
        grid-template-areas: 
            'fquest fdev fshop'
            'htitle htitle htitle'
            'htext . hlink'
            'fsoc fsoc fsoc';
        gap: 50px 20px;
    }

    .footer__help {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        align-content: start;
        align-items: start;
        grid-area: htitle / htitle / hlink / hlink;

        text-align: left;
    }

    .footer__help h3 {
        grid-area: htitle;
    }

    .footer__help p {
        grid-area: htext;
    }

    .footer__help a {
        grid-area: hlink;

        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;

        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content);
        justify-items: center;
        grid-template-areas: 
            'fquest' 
            'fdev' 
            'fshop'
            'fhelp'
            'fsoc';
        gap: 50px 20px;

        &>* {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .footer__help {
        grid-area: fhelp;

        h3, p {
            width: auto;
        }
    }

    .footer__help a {
        display: inline-block;
        
        width: auto;
        height: auto;

        padding: 27px 100px;
    }

    .footer__social .icons a:first-of-type svg {
        margin-left: 0;
    }
}