@import url(../font/Inter/stylesheet.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Устанавливает box-sizing для всех элементов */
}

html {
    font-family: 'Inter';
    font-size: 20px;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 15px;

    container-name: container;
    container-type: inline-size;
}

h1, h2 {
    font-size: 5cqw;
    line-height: 70%;
    font-weight: 900;
}

h3 {
    font-size: 3.75cqw;
    font-weight: 900;
}

p, label {
    font-size: 2.5cqw;
    font-weight: 300;
}

main > section {
    margin-bottom: 100px;
}