@import url(../font/Inter/stylesheet.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* Устанавливает box-sizing для всех элементов */
}

html {
    font-family: 'Inter';
    font-size: 20px;
}

.container {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: clamp(15px, calc((1dvh + 1dvw) * 2), 50px) 15px;

    container-name: container;
    container-type: inline-size;
}

.app {

    h1,
    h2 {
        font-size: max(30px, 5cqw);
        line-height: 1;
        font-weight: 900;
    }

    h3 {
        font-size: max(25px, 3.75cqw);
        font-weight: 900;
    }

    p,
    label,
    a {
        font-size: max(20px, 2.5cqw);
        font-weight: 300;
    }
}