@import url('variables.css');
@import url('default-styles.css');
@import url('header/header.css');
@import url('start/start.css');
@import url('products/products.css');
@import url('video-section/video.css');